.input {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0.5rem;
  gap: 10px;
}

.input label {
  font-weight: bold;
  margin-right: 1rem;
}
.input input {
  width: 3rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
  padding-left: 0.5rem;
}
/* @media (max-device-width: 480px) {
  .input label {
    font-size: 0.8rem;
  }
} */
